/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  align-self: center;
  height: 293px;
}

.header_menu {
  margin-bottom: 5px;
  margin-left: 7px;
}

.header_links_list {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  text-align: right;
  column-gap: 29px;
}

.header_links_list_item {
  list-style-type: circle;
  padding-left: 2.5px;
  margin-left: 2px;
}

.header_links_list_item_no_bullit {
  list-style: none;
  padding-left: 0.8px;
}

.header_link {
  font-size: 18px;
  line-height: normal;
  text-decoration: underline;
  text-decoration-thickness: 1.3px;
  text-underline-offset: 0.22rem;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 137px;
  height: 105px;
  margin-left: 1px;
  margin-bottom: 2.3px;
}

.header_logo_image {
  display: block;
  width: 137px;
  height: 104.65px;
}

.header_address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  margin-left: 105px;
  margin-bottom: 3.4px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  max-width: 240px;
}

.header_contacts {
  position: relative;
  text-decoration: underline;
  text-underline-offset: 3.6px;
  text-decoration-thickness: 1px;
}

/* Cover */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px 50px;
  z-index: 0;
  height: 757px;
}

.cover_title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
  row-gap: 20px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 1.88rem;
  text-transform: uppercase;
  line-height: 115px;
  z-index: 2;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}

.aligned_text {
  display: block;
  color: rgb(255 255 255);
}

.aligned_text_start {
  grid-column: 1 / 4;
  text-align: left;
  letter-spacing: 1.88rem;
}

.aligned_text_center {
  grid-column: 1 / 4;
  text-align: center;
  margin-top: 1px;
  margin-left: 3%;
}

.aligned_text_end {
  grid-column: 1 / 4;
  text-align: right;
  margin-right: -30px;
}

.wide-letters {
  display: inline-block;
  transform: scaleX(0.996);
  transform-origin: left;
}

.cover_description {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  margin: 106px 0 0;
}

.cover_description_text {
  color: rgb(255 255 255);
  word-spacing: 20px;
  text-transform: uppercase;
  padding: 4px 0 0 0;
  line-height: 28px;
}

.word_spacing_analogue {
  word-spacing: 18px;
}

.bet_button {
  border: 1px rgb(255 255 255) solid;
  background-color: transparent;
  padding: 11px 32px;
  margin-left: auto;
  word-spacing: 1px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  filter: saturate(5);
}

/* Lots */

.lots {
  display: grid;
  margin: 184px 24px 120px;
  width: 1052px;
  height: 723px;
}

.lots_heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots_card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots_card_list_item {
  width: 334px;
  min-height: 596px;
  margin: 26px 0 30px 0;
  background-size: cover;
  background-position: center;
  list-style: none;
}

.card_link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  height: 596px;
  background-position: center;
  background-size: 165% 101%;
  padding: 48px 40px;
}

.card_title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 0.07em;
  text-underline-offset: 0.18rem;
  line-height: 118%;
  color: #ffffff;
  z-index: 2;
}
.card_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  z-index: 2;
}

.card_type_cinema {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look_more_link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 0.28rem;
  text-decoration-thickness: 1.3px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-top: 0;
  max-width: 1052px;
  column-gap: 48.7px;
  height: 595px;
}

.about_column_logo {
  justify-self: center;
  padding: 31px 0px 0 48px;
}
  
.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}
  
.about_logo_image {
  width: 148px;
}

.about_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 693px;
}
  
.about_title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  padding-top: 137px;
}
  
.about_column_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 24px;
  margin-top: 102px;
  max-width: 693px;
  max-height: 449px;
}

.about_text_first {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;
  font-weight: normal;
  text-align: left;
  max-width: 688px;
}

.about_text_second {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;
  font-weight: normal;
  text-align: left;
  max-width: 693px;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 287px  auto auto;
  column-gap: 161px;
  align-items: start;
  max-width: 1100px;
  height: 180px;
  margin-top: 176px;
}

.footer_address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  padding-top: 1px;
}

.footer_contacts {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer_menu {
  display: block;
  justify-self: center;
  font-size: 18px;
}

.footer_links_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: end;
  list-style: none;
}

.footer_links_list_item {
  padding: 1px 0 0 4px;
  height: 21px;
}

.footer_link {
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer_link_active {
  list-style: none;
  font-size: 18px;
  text-decoration: none;
  border-bottom: none;
}
 
.footer_social_list {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  list-style: none;
  gap: 48px;
}

.footer_social_link_list_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_social_link {
  display: block;
  line-height: 0;
}

.footer_social_icon {
  display: block;
  width: 48px;
  height: 48px;
}